@{
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<body>
    <div class="login-container">
        <h1>You have Registered Successfully</h1>
        <div class="form-group">
            <a class="login-btn" asp-controller="Login" asp-action="LogIn">Login</a>
        </div>
    </div>
</body>


